services:
  - type: web
    name: n8n
    env: docker
    plan: starter
    autoDeploy: true
    dockerfilePath: Dockerfile
    envVars:
      - key: N8N_ENCRYPTION_KEY
        value: 39360906ace7b07d833293064d0b21259b9d99f95ab40201a6b687039d36623d
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
      - key: WEBHOOK_URL
        value: https://n8n-zalk.onrender.com/
